/// Root Styles file
/// Here we define all the root variables we need for our project.
/// For examples see Material Design color system: https://m2.material.io/design/color/the-color-system.html

:root {
  $main-white: #ffffff;
  $main-gray-300: #dadfe9;
  $main-gray-600: #aeb5c3;
  $main-black: #0d1016;
  $main-blue: #2162e3;
}
