.header__title {
  @include flexContainer(row, center);
  align-items: center;
  padding-top: 1.25rem;
  gap: 0.7rem;
  background: $main-gray-300;

  .header__text {
    font-size: 1.125rem;
  }

  .header__logo {
    width: 20.25px;
    height: 20.25px;
  }
}

.home-page__header {
  background-color: $main-gray-300;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;

  @include flexContainer(column, flex-start);
  align-items: center;

  .header__main-images {
    position: relative;
    height: 250px;
    margin: 2.75rem 0;

    & > .card-image {
      position: absolute;
      left: 50%;
      width: 250px;
      height: auto;
      bottom: 0;
    }

    .main-images__card-back {
      transform: translateX(-28.5%);
      top: 9px;
    }

    .main-images__card-front {
      transform: translateX(-71.9%);
      top: 39px;
      z-index: 1;
    }
  }
}
