.home-page__header {
  background-color: $main-gray-300;
  height: 50vh;
  padding: 0.5rem;

  @include flexContainer(column, flex-start);
  align-items: center;

  .header__title {
    @include flexContainer(row, center);
    align-items: center;
    gap: 0.5rem;

    .header__text {
      font-size: 1.125rem;
    }

    .header__logo {
      width: 20.25px;
      height: 20.25px;
    }
  }

  .header__main-images {
    position: relative;
    margin: 2.25rem 0;

    & > .card-image {
      position: absolute;
      left: 50%;
      width: 250px;
      height: auto;
      bottom: 0;
    }

    .main-images__card-back {
      transform: translateX(-29%);
      top: 0;
    }

    .main-images__card-front {
      transform: translateX(-70%);
      top: 32px;
      z-index: 1;
    }
  }
}
