$main-white: #ffffff;
$main-gray-300: #f8faff;
$main-gray-600: #dadfe9;
$main-gray-900: #aeb5c3;
$main-black: #0d1016;
$main-blue: #2162e3;
$main-font-500: 500;
$main-font-600: 600;

@mixin flexContainer($direction, $justifyDirection) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyDirection;
}