$main-white: #ffffff;
$main-red: red;
$main-green: green;
$main-alert-bg: rgba(166, 246, 166, 0.267);
$main-gray-300: #f8faff;
$main-gray-600: #dadfe9;
$main-gray-900: #aeb5c3;
$main-black: #0d1016;
$main-blue: #2162e3;
$main-blue-hover: #3d7eff;
$main-blue-click: #0055ff;
$main-font-500: 500;
$main-font-600: 600;

@mixin flexContainer($direction, $justifyDirection) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyDirection;
}