@import "normalize.scss";
@import "root.scss";
@import "fonts.scss";
@import "header.scss";
@import "main.scss";

body {
  font-family: "Montserrat", sans-serif;
  color: $main-black;
  font-weight: $main-font-600;
  letter-spacing: -0.03em;
}